<!DOCTYPE html>
<html>
	<head>
		<title>Code Pods</title>
        <style>

            #navBar {
                background-color: #585ea2;
                height: 50px;
                display: flex;
                padding-left:20px;
            }

            #navBar h1 {
                color: white
            }

            #pageLayout {
                display: flex;
                flex-direction: column;
                height: 100vh;

            }

            #content {
                flex:1;
            }

            #footer {
                background-color: silver;
                height: 50px;
            }
        </style>
	</head>
	<body>
    <div id="pageLayout">
        <div id="navBar">
            <h1>Code Pods</h1>
        </div>
        <div id="content">

            {{#if user }}
            <h2>Hello, {{ user.displayName }}.</h2>
            <div><a href="/logout">Log Out</a></div>
		 {{else }}
			<a href="/auth/microsoft">
                <img src="/images/ms-symbollockup_signin_dark.svg" alt="Login with Microsoft">
                </img>
            </a>
		{{/if}}

        </div>
        <div id="footer">
            Made with ♥ by Leroy Salih
        </div>
    </div>
            

            
	</body>
</html>
